.aboutUsContainer {
    background-image: url('../../assets//AboutUs/AboutUsbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 4rem;
    padding-top: 1.25rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation span {
    font-weight: 400;
    font-size: 16px;
}

.aboutUsTitle {
    font-size: 3rem;
    font-weight: 700;
}


/* About Us 2 */
