@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Base styles */
body {
    font-family: 'Inter', sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    padding: 0.25rem 0;
    transition: background-color 0.3s;
}

.header-transparent {
    background-color: transparent;
}

.header-colored {
    background-color: #f5edda;
}

/* Shared text colors */
.text-white {
    color: white;
}

.text-dark {
    color: #1f2937;
}

/* Logo styles */
.logo-image {
    height: 2.2rem;
}

/* Button styles */
.icon-button {
    background-color: rgba(255, 255, 255, 0.18);
    color: inherit;
    padding: 0.580rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
}

.icon-button.dark {
    color: #1f2937;
}

.icon-button.light {
    color: white;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.primary-button {
    background-color: #D67A1D;
    color: white;
    padding: 0.77rem 2rem;
    border-radius: 55px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.primary-button:hover {
    background-color: #fff;
    color: #D67A1D;
}

.button-icon {
    height: 0.8rem;
}

/* Desktop header */
.desktop-header {
    display: none;
    grid-template-columns: 12% 65% 23%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 0;
    width: 90%;
    align-items: center;
}

.header-logo,
.header-nav,
.header-actions {
    display: flex;
    align-items: center;
}

.header-logo {
    justify-content: flex-start;
}

.header-nav {
    justify-content: flex-start;
    padding-left: 30px;
    gap: 5px;
}

.header-actions {
    justify-content: flex-end;
    gap: 0.5rem;
}

.nav-link:hover {
    background-color: white;
    color: #D67A1D;
}

/* Mobile header */
.mobile-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.75rem 1rem;
}

.mobile-hamburger {
    justify-content: flex-start;
}

.mobile-logo {
    justify-content: center;
}



.mobile-menu {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.mobile-menu-transparent {
    background-color: transparent;
}

.mobile-menu-colored {
    background-color: #f5edda;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    background-color: #274D63;
}

.mobile-nav-link {
    padding: 1rem 0;
    font-weight: 400;
    font-size: 0.875rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.mobile-nav-link:last-child {
    border-bottom: none;
}

.nav-arrow {
    margin-left: auto;
    padding-left: 1rem;
}

.mobile-nav-link::after {
    content: '>';
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    /* opacity: 0.6; */
}

.mobile-button-container {
    margin-top: 1rem;
}

.mobile-button-container .primary-button {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
}

.mobile-search {
    display: flex;
    justify-content: flex-end !important;
}

/* Responsive */
@media (min-width: 770px) {
    .desktop-header {
        display: grid;
    }

    .mobile-header {
        display: none;
    }

    .logo-image {
        height: 55px;
    }

    .mobile-nav-link {
        border-bottom: none;
    }

    .nav-link {
        padding: 8px 20px;
        transition: background-color 0.3s, color 0.3s;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        border-radius: 0.5rem;
    }

    .mobile-search {
        justify-content: flex-end;
    }
}