
/* section 3 and 4 */
.page-width {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.why-joyful-different h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.why-joyful-different h2 {

  font-weight: 400;
  font-size: 48px;
  line-height: 1.4;
  max-width: 460px;
}

.why-joyful-different h3 {

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.why-joyful-different p {
  margin: 0;
  color: #000000B2;
}

.why-joyful-different {

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 30px;
}

.why-joyful-different .grid-column-child-wrapper {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 0 20px;
}

.why-joyful-different h3 {
  margin-bottom: 10px;
}

.why-joyful-different .grid-row-child-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 16px;
}

.why-joyful-different .grid-row {
  display: grid;
  grid-template-columns: calc(58% - 15px) calc(42% - 15px);
  gap: 30px;
}

.why-joyful-different .img-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: left;
}


.why-joyful-different .grid-column-child-wrapper {
  height: 130px;
}

.why-joyful-different .img-wrapper img {
  height: 730px;
}

.why-joyful-different {
  padding: 60px 0;
}

.joyful-clients-wrapper .grid-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
}

.joyful-clients {
  background: #000CB70D;
  padding: 70px 0;
}

.joyful-clients h2 {

  font-weight: 400;
  font-size: 48px;
  line-height: 110.00000000000001%;
  text-align: center;
  margin-bottom: 50px;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 815px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.stat-label {

  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #0000007a;
  margin-top: 12px;
}

.stat-value {

  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-transform: capitalize;
  text-align: center;
  color: #D67A1D;
}

.why-joyful-different p {
  margin: 0;
  color: #000000B2;
  max-width: 240px;
  line-height: 1.6;

  font-weight: 400;
  font-size: 14px;
}

.stat-item:not(:last-child) {
  position: relative;
}

.stat-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  /* background-image: url(images/arrow-right.png); */
  background-image: url(../../assets/section3/arrow-right.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.follow-on-instagram h2 {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;

  font-weight: 400;
  font-size: 48px;
  line-height: 110.00000000000001%;
  text-align: center;
}

.follow-on-instagram {
  padding: 60px 0;
}

.follow-on-instagram-wrapper .grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.follow-on-instagram-wrapper img {
  display: block;
}

.grid-child-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.follow-on-instagram-wrapper .first-img {
  /* background: url('images/instagram-1.jpg'); */
  background: url('../../assets/section3/instagram-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.follow-on-instagram-wrapper .last-img {
  /* background: url('images/instagram-11.jpg'); */
  background: url('../../assets/section3/instagram-11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .why-joyful-different h2 {
    max-width: 355px;

    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
  }

  .why-joyful-different p {
    line-height: 1.6;
  }

  .why-joyful-different .grid-row-child-wrapper {
    grid-template-columns: repeat(1, 2fr);
  }

  .why-joyful-different .grid-row {
    grid-template-columns: 1fr;
  }

  .why-joyful-different .img-wrapper img {
    height: 100%;
  }

  .why-joyful-different .grid-column:nth-child(2) {
    grid-row: 1;
  }

  .joyful-clients-wrapper .grid-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .stat-value {

    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-transform: capitalize;
  }

  .stat-label {
    color: #0000007a;
    margin-top: 12px;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
  }

  .stat-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 30%;
    transform: translateY(-50%);
    width: 30px;
    height: 50px;
    /* background-image: url(images/arrow-right.png); */
    background-image: url(../../assets/section3/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .joyful-clients-wrapper .grid-row {
    gap: 16px;
  }

  .joyful-clients h2 {

    font-weight: 400;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }

  .follow-on-instagram h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    font-weight: 400;
    font-size: 38px;
    line-height: 110.00000000000001%;
    text-align: center;
  }

  .follow-on-instagram .grid-column {
    display: none;
  }

  .follow-on-instagram .grid-column.mobile-show {
    display: block;
  }

  .follow-on-instagram-wrapper .grid-row {
    grid-template-columns: repeat(1, 1fr);
  }

  .follow-on-instagram-wrapper .grid-child-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}